
.ui-picker-wrapper {
  width: 100%;
  height: $springH;
  overflow: hidden;
  position: relative;
  pointer-events: auto;
  margin-top: $springMarginH;
  touch-action: none; 

  .ui-picker {
    width: 100%;
    transition: transform .3s ease-out;
  }

  .ui-picker-item {
    height: $itemHeight;
    line-height: $itemHeight;
    text-align: center;
    color: #000;
    font-size: 18px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    // background:#fff;
    position: relative;
    transition: transform-origin,transform .3s ease-out;
  }

  .ui-picker-item-selected {
    //color: #000;
  }

  .ui-picker-deco{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 100;
    //background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 8%, transparent 40%,  transparent 60%, rgba(255, 255, 255, 1) 92%);
    background:linear-gradient(to bottom, white 10.5%, rgba(255, 255, 255, 0.68) 12%, rgba(255, 255, 255, 0.45) 37%, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0.45) 63%, rgba(255, 255, 255, 0.68) 88%, white 89.5%);
    pointer-events: none;
  }
  .ui-picker-center {
    height: $itemHeight;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    z-index: 101;
    margin-top: -18px;
    pointer-events: none;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
  }
}
