
$h: $springWrapH + $titleH;
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  z-index: 1000;
  background-color:rgba(11,11,11,0.4);
  width: 100%;

  .modal {
    position: fixed;
    top: calc(100% - #{$h});
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    background-color: #fff;
    width: 100%;
    height: $h;
  }
}

.modal-transition-enter {
  @include fadeIn;
}

.modal-transition-exit {
  @include fadeOut;
}

.modal-transition-enter .modal {
  @include transitionBottomToUpFn($h,calc(100% - #{$h}));
}

.modal-transition-exit .modal {
  @include transitionUpToBottomFn($h,calc(100% - #{$h}));
}
