.picker-demo {
  text-align: center;

  .button-wrap {
    margin: 10px;
  }

  p {
    width: 100%;
    margin:15px 0;
    line-height: 1.5;
  }
  code{
    color:deeppink;
  }
  .btn{
    margin-bottom:15px;
  }
}
